repos:
- repo: git://github.com/detailyang/pre-commit-shell
  rev: 1.0.2
  hooks:
  - id: shell-lint
- repo: https://github.com/stratasan/hadolint-pre-commit
  rev: cdefcb096e520a6daa9552b1d4636f5f1e1729cd
  hooks:
  - id: hadolint
